@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff"), url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/latoheavy.woff2") format("woff2"), url("../fonts/latoheavy.woff") format("woff"), url("../fonts/latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff"), url("../fonts/latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
.dropdown-toggle::after {
  content: none;
}

.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #fff;
}

.dropdown-menu.show {
  margin-top: 10px;
}

.menu-burger-block {
  position: fixed;
  background-color: #f8f9fa;
  width: 100%;
  height: 100px;
  z-index: 99;
  display: none;
  border-bottom: 1px solid #ebedec;
}
.menu-burger-block .menu-burger {
  margin-top: 30px;
}

.burger__menu {
  display: none;
}

.d-block {
  display: block;
}

.nav-pills {
  position: relative;
}

body.open {
  overflow: hidden !important;
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
}
body.open:before {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
body:before {
  content: "";
  position: absolute;
  background-color: #f8f9fa;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.burger {
  position: fixed;
  top: 30px;
  z-index: 999;
}
.burger__button {
  display: block;
  position: relative;
  background: #182333;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s ease;
  border: 2px solid #f8f9fa;
  box-shadow: 0px 0px 8px -2px #333;
}
.burger__button.open {
  border: 2px solid #fff;
  box-shadow: none;
}
.burger__button__icon {
  display: inline-block;
  position: absolute;
  background: #fff;
  margin: 0 auto;
  width: 13.2px;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  transform: translateY(-1px);
}
.burger__button__icon:before, .burger__button__icon:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  background: #fff;
  width: 13.2px;
  height: 2px;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
.burger__button__icon:before {
  bottom: 5px;
}
.burger__button__icon:after {
  top: 5px;
}
.burger__button.open .burger__button__icon {
  background: transparent;
}
.burger__button.open .burger__button__icon:before, .burger__button.open .burger__button__icon:after {
  transform-origin: 0 50%;
  width: sqrt(pow(13.2px, 2)pow(10px, 2));
}
.burger__button.open .burger__button__icon:before {
  transform: rotateZ(atan(0.7575757576));
}
.burger__button.open .burger__button__icon:after {
  transform: rotateZ(-0.7575757576);
}
.burger__menu {
  list-style-type: none;
  padding: 45px 0 0 20px;
}
.burger__menu li {
  display: block;
  position: relative;
  margin: 20px 0;
  visibility: hidden;
  transition: all 0.5s ease;
  transform: translateX(-400px);
}
.burger__menu a {
  display: block;
  text-decoration: none;
  color: #182333;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.4s ease;
  border-left: 3px solid transparent;
  padding-left: 0;
}
.burger__menu a:hover {
  padding-left: 20px;
  border-left: 2px solid #182333;
}
.burger__button.open + .burger__menu li {
  transform: translateX(0);
  visibility: visible;
}

.slick-slide {
  outline: none;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

a:hover {
  text-decoration: none;
}

.mbn {
  margin-bottom: 0 !important;
}

body {
  font-family: "Lato", sans-serif;
  color: #182333;
  margin: 0;
}

header {
  min-height: 100px;
  padding: 30px 0;
  border-bottom: 1px solid #ebedec;
  position: fixed;
  background: #f8f9fa;
  width: 100%;
  z-index: 1;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}
.logo a {
  color: #182333;
}

.orange {
  color: #fda12b !important;
}

.navigation {
  list-style-type: none;
  padding-top: 6px;
}

.navigation-item {
  display: inline-block;
  margin: 0 10px;
}
.navigation-item a {
  font-size: 14px;
  text-decoration: none;
  color: #182333;
  font-weight: 700;
}
.navigation-item a:hover {
  color: #fda12b;
  transition: .2s;
}

.phone {
  text-align: center;
  margin-top: -5px;
  border-left: 1px solid #ebedec;
  padding-left: 20px;
}
.phone a {
  color: #182333;
}
.phone .phone-number {
  font-size: 16px;
  font-weight: 700;
}
.phone .order-call {
  color: #182333;
  margin-left: 15px;
  font-size: 14px;
  padding-bottom: 2px;
  border-bottom: 1px solid #979ba0;
}
.phone .order-call:hover {
  text-decoration: none;
}

.main-page {
  background-color: #182333;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  color: #f8f9fa;
  padding-top: 100px;
}
.main-page .orange-button {
  margin: 30px 0 90px;
  width: 100%;
}

.main-title {
  font-size: 72px;
  margin: 90px 0 30px;
}
.main-title .location {
  font-size: 48px;
}

.sub-title {
  font-size: 24px;
}

.orange-button {
  padding: 20px 30px;
  color: #f8f9fa;
  background-color: #fda12b;
  border: none;
  font-weight: 700;
  font-size: 14px;
}
.orange-button img {
  float: right;
}

.title-section-block {
  border-left: 5px solid #fda12b;
  padding-left: 25px;
  margin: 100px 0 70px;
}
.title-section-block .sub-title-section {
  font-size: 18px;
  color: #979ba0;
  text-transform: uppercase;
  font-weight: 700;
}
.title-section-block .title-section {
  font-size: 48px;
  margin-bottom: 0;
}

.cart-services {
  border: 1px solid #ebedec;
  padding: 14px;
  text-align: center;
  padding: 14px;
  margin-bottom: 30px;
}
.cart-services p {
  font-size: 24px;
  font-weight: 700;
  padding: 25px 0 10px;
}
.cart-services img {
  width: 100%;
}
.cart-services button {
  margin-bottom: 16px;
}

.border-button {
  height: 50px;
  padding: 0 30px;
  border: 1px solid #fda12b;
  color: #fda12b;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
}

.statistics {
  background-color: #fda12b;
  background-image: url(../img/bg-statistics.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  color: #f8f9fa;
}
.statistics .sub-title-section {
  color: #f8f9fa;
}
.statistics .title-section-block {
  border-left: 5px solid #f8f9fa;
}

.advantage {
  padding: 10px 25px 0;
  border: 1px dashed #f8f9fa;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 30px;
}

.mb100 {
  margin-bottom: 100px;
}

.count-statistics {
  font-size: 48px;
  font-weight: 900;
}

.manager {
  background-color: #182333;
  background-image: url(../img/manager.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  color: #f8f9fa;
}
.manager .manager-mobile {
  display: none;
}
.manager .title-section-block {
  border: none;
  padding: 0;
}
.manager .sub-title-section {
  color: #fda12b;
}
.manager .border-left {
  border-left: 5px solid #fda12b !important;
  margin-left: 15px;
}
.manager .border-left p {
  margin-left: 15px;
  font-size: 14px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: block;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  overflow: hidden;
}

.tab-content > .active, .pill-content > .active {
  height: auto;
  /* let the content decide it  */
}

.work-stages .cart-height {
  height: 200px;
}
.work-stages .cart-state {
  width: 130px;
  height: 130px;
  position: relative;
  margin: 0 auto;
}
.work-stages .cart-state p {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 23px;
}
.work-stages .cart-state .state-second {
  font-size: 20px;
  padding-left: 5px;
}
.work-stages .state {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #fda12b;
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #f8f9fa;
  line-height: 0;
}
.work-stages .icon {
  width: 120px;
  height: 120px;
  border: 1px solid #ebedec;
  border-radius: 60px;
  margin: 10px 0 0 10px;
  color: #979ba0;
  font-size: 18px;
  line-height: 6.6em;
  text-align: center;
}

.show {
  top: 10px;
}

.submit-request {
  background-color: #f8f9fa;
}
.submit-request input {
  padding: 15px 20px;
  font-size: 14px;
  border: 1px solid #ebedec;
  width: 100%;
}
.submit-request input::placeholder {
  color: #979ba0;
}
.submit-request button {
  background-color: #fda12b;
  color: #f8f9fa;
  padding: 15px 20px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}
.submit-request form {
  padding-bottom: 30px;
}
.submit-request .call-back {
  font-size: 18px;
  visibility: hidden;
}
.submit-request .call-back:hover {
  visibility: visible;
}

.title-pages {
  color: #182333;
  border-left: 5px solid #fda12b;
  padding-left: 25px;
  margin: 70px 0;
}

.breadcrumbs {
  border-bottom: 1px solid #ebedec;
  padding-top: 100px;
}

.breadcrumb {
  padding: 30px 0;
  background-color: transparent;
  font-weight: 500;
  margin: 0;
}
.breadcrumb li + li:before {
  color: #182333;
  content: " • ";
  font-weight: 700;
  padding: 0 5px;
  font-size: 14px;
}

@media screen and (max-width: 1370px) {
  .statistics {
    background-position: 120%;
  }

  .manager {
    background-position: -10%;
  }
}
@media screen and (max-width: 1210px) {
  .navigation-item {
    margin: 0 5px;
  }

  .phone .phone-number {
    font-size: 13px;
  }
  .phone .order-call {
    font-size: 13px;
  }

  .main-page {
    background-image: url(../img/bg-tablet.jpg);
    background-size: contain;
  }

  .manager {
    background-image: url(../img/manager-tablet.jpg);
  }

  .advantage {
    font-size: 24px;
  }

  .count-statistics {
    font-size: 30px;
  }

  .advantage {
    padding: 10px 20px 15px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .title-section-block {
    margin: 50px 0 70px 0;
  }

  .manager {
    background-position: -10%;
  }

  .form-action input {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  .menu-burger-block {
    display: flex;
  }

  .logo {
    text-align: center;
  }

  .navigation-desktop {
    display: none;
  }

  .cart-services p {
    font-size: 18px;
  }

  .main-title {
    font-size: 48px;
    margin: 120px 0 30px;
  }

  .location {
    font-size: 30px;
  }

  .manager {
    background-position: -45%;
  }

  .advantage {
    font-size: 20px;
  }

  .count-statistics {
    font-size: 25px;
  }

  .rectangle-card {
    height: 130px !important;
  }
  .rectangle-card img {
    height: 120%;
  }

  .name-employee {
    font-size: 18px !important;
  }

  .position-employee {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 890px) {
  .statistics {
    background-position: 150%;
  }

  .manager {
    background-position: -60%;
  }

  .rectangle-card img {
    height: 250px;
  }

  .rectangle-card {
    height: 200px !important;
  }

  .certificates {
    background-color: #fda12b !important;
  }
  .certificates .name-certificate {
    color: #f8f9fa;
  }
}
@media screen and (max-width: 768px) {
  .manager-mobile {
    display: block !important;
    width: 100%;
    margin-bottom: 40px;
  }

  .arrows-tabs {
    display: none !important;
  }

  .statistics {
    background-image: none;
  }

  .title-section-block .title-section {
    font-size: 36px;
  }

  .title-section-block .sub-title-section {
    font-size: 14px;
  }

  .manager {
    background-image: none;
  }

  .title-pages {
    font-size: 24px !important;
    margin: 50px 0 30px !important;
  }

  .card-header h5 {
    font-size: 14px !important;
  }

  .mb100 {
    margin-bottom: 50px !important;
  }

  .rectangle-card img {
    height: 170px;
  }

  .rectangle-card {
    height: 135px !important;
  }

  .nav-item {
    display: flex;
    flex: 1;
    width: 0;
  }
  .nav-item .nav-link {
    font-size: 12px;
  }

  .nav-cert {
    display: block;
  }
  .nav-cert a {
    padding: 0;
  }

  .arrows {
    top: 20px !important;
  }

  .arrow-slider {
    height: 40px !important;
    width: 40px !important;
  }
  .arrow-slider i {
    line-height: 1.05 !important;
  }
}
@media screen and (max-width: 575px) {
  .main-page {
    background: url(../img/bg-mob.jpg);
    background-size: cover;
  }

  .main-title {
    font-size: 24px;
    margin: 50px 0 30px;
    text-align: center;
  }
  .main-title .location {
    font-size: 18px;
  }

  .sub-title {
    font-size: 14px;
    text-align: center;
  }

  .orange-button {
    width: 100%;
  }

  .phone .order-call {
    margin-left: 0;
  }

  .carousel-inner {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 475px) {
  .phone .phone-number {
    font-size: 12px;
  }
  .phone .order-call {
    font-size: 11px;
  }

  .border-button {
    width: 100%;
    font-size: 13px;
  }

  .border-button {
    padding: 0;
  }

  .border-button {
    height: 40px;
  }

  .review-text-block .name-review {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .review-text-block .text-review {
    font-size: 14px;
  }

  .nav-item .nav-link {
    font-size: 10px !important;
  }

  .title-section-block .title-section {
    font-size: 30px;
  }

  .title-section-block .sub-title-section {
    font-size: 12px;
  }

  .arrows {
    top: 15px !important;
  }
}
@media screen and (max-width: 400px) {
  .border-button {
    padding: 0;
    font-size: 14px;
    width: 100%;
  }

  .title-section-block .title-section {
    font-size: 24px;
  }

  .title-section-block .sub-title-section {
    font-size: 13px;
  }

  .contact-p {
    font-size: 14px !important;
  }

  .card-body {
    font-size: 12px !important;
  }

  .call-back {
    font-size: 14px !important;
    text-align: center;
  }

  .title-pages {
    font-size: 24px !important;
    margin: 25px 0 !important;
  }

  .mb100 {
    margin-bottom: 20px !important;
  }

  .title-section-block {
    margin: 25px 0 30px !important;
  }

  .logo {
    font-size: 18px;
  }

  .phone .phone-number {
    font-size: 11px;
  }

  .phone .order-call {
    font-size: 10px;
  }

  .card-header h5 {
    font-size: 12px !important;
    letter-spacing: -0.3px !important;
  }

  .cart-services p {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
  }
}
@media screen and (max-width: 375px) {
  .phone .phone-number img {
    display: none;
  }

  .phone .phone-number {
    font-size: 10px;
  }

  .nav-item .nav-link {
    font-size: 10px !important;
  }
}

/*# sourceMappingURL=main.css.map */
