$primary-color: #182333;
$orange: #fda12b;
$light-gray: #ebedec;
$gray: #979ba0;
$white: #f8f9fa;
$lato: 'Lato', sans-serif;
$proximaNova: 'Proxima Nova', 'Lato', sans-serif;
$main-size: 14px;
$border: 1px solid $light-gray;