@import 'const';

// .title-pages {
//     margin-bottom: 0;
// }

.name-service {
    font-size: 18px;
    font-weight: 700;
    margin: 50px 0 25px;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

td, tr {
    padding: 15px 30px;
    border: 1px solid $light-gray;
    text-align: center;

    a {
        text-decoration: underline;
    }
}

tr:first-child td {
    border: 1px solid $orange;
    font-weight: 700;
    color: $white;
}

tr:first-child {
    background: $orange;
    border: none;
}

td:nth-child(5n-4) {
    width: 32%;
    text-align: left;
}

.indications {
    margin-top: 15px;
}

.indication {
    font-size: 14px;
    margin-bottom: 0;
}

.nav-tabs .nav-link.active {
    color: $white;
    border-radius: 0;
    background-color: $primary-color;
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 50px ;
    width: 100%;
}

.nav-item {
    border: 1px solid $light-gray;
    border-radius: 0;
}

.nav-link {
    // padding: 15px 20px;
    padding: 15px 32.8px;
    font-size: 14px;
    color: $gray;

    &:hover {
        color: $primary-color;
    }
}

.nav-tabs .nav-link {
    border: none; 
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
}


.visual {

    img {
        width: 100%;
    }
}

.price-table {
    margin-bottom: 50px;
}

// .calculator {
//     .row {
//         margin-top: 15px;
//     }
// }

.calc-tablet-size {  
    margin-top: 15px;
}

.firs-row-calc {
    margin-top: 0;
}

label {

    &:nth-child(1), &:nth-child(2) {   
        margin-top: 0;
    }

    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    color: $primary-color;
}

input, select, textarea {
    padding: 10px 20px;
    border: $border;
    color: $primary-color;
    width: 100%;
    background-color: #fff;

    &::placeholder {
        color: $light-gray;
    }
}

.count-pieces {
    width: 120px;
}


.minus, .plus {
    padding-top: 5px;
    width: 60px;
    border: $border;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.calc-counter {
    font-size: 30px;
    font-weight: 700;
}

textarea {
    height: 120px;
}

.calc-letter {
    margin-top: 20px;
}

.counter {
    display: flex;
}

.count-pieces {
    display: inline-block;
    width: 130px;
    padding-top: 5px;
}

.gray {
    color: $gray;
}

.price {
    font-size: 24px;
    margin: 20px 0 30px;
    font-weight: 700;
}

.result {
    font-size: 30px;
}

.orange-button {
    padding: 15px 20px;
    border: none;
    font-size: $main-size;
    font-weight: 700;
    width: 100%;
    text-align: left;
}



@media screen and (max-width: 768px) {

    .calc-tablet-size {  
        margin-top: 15px;
    }

    td, tr {
        padding: 15px 0;
        font-size: 12px;
        border: 1px solid $light-gray;
        font-size: 12px;
    }

    td:nth-child(5n-4) {
        width: 25%;
        padding-left: 15px;
    }

    .nav-item {
        display: flex;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        padding: 15px 32.8px;
        width: 100%;
    }

    .nav {
        display: block;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        text-align: center;
    }

    .calc-tablet-size {
        margin-top: 20px;
    }

}

@media screen and (max-width: 425px) {
    
    td, tr {
        padding: 10px 0;
        font-size: 10px;
    }   
}


