@import 'const';

.main {
    background-color: #fff;
    background-image: none;
}

.our-work-cart {
    margin-top: 20px;

    img {
        width: 100%;
    }
}

.title-pages {
    margin-bottom: 50px;
}

.nav-item {
    margin-right: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: $primary-color;
}
.nav-pills .nav-link {
    border-radius: 0;
    font-size: 14px;
}
.nav-link {
    display: block;
    padding: 13px 0;
    width: 120px;
    border: 1px solid $light-gray;
    text-align: center;
}

a {
    color: $gray;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: $primary-color;
    }
}

.par-work {
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 400;
}