@import 'const';

.tab-content {
    margin-top: 15px;
}

.arrows {
    display: flex;
    position: absolute;
    right: 15px;
    top: 0;
}

.arrov-slider {
    border: $border;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 20px;
    background-color: transparent;

    i {
        color: $gray;
        line-height: 1.45;
    }

    &:hover {
        background-color: $orange;
        border: 1px solid $orange;
        transition: .2s;

        i {
            color: $white;
        }
    }

    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $white;
    background-color: $primary-color;
}

.nav-item {
    margin-right: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: $primary-color;
}
.nav-pills .nav-link {
    border-radius: 0;
    font-size: 14px;
}
.nav-link {
    display: block;
    padding: 13px 0;
    width: 120px;
    border: 1px solid $light-gray;
    text-align: center;
}

a {
    color: $gray;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: $primary-color;
    }
}

.review-text-block {

    padding: 30px;
    border: $border;

    .name-review {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .text-review {
        font-size: 18px;
        font-style: italic;
    }

}